[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">3.1,<4"
django-filter = "*"
djangorestframework=  "*"
environs = {extras = ["django"], version = "*"}
ipython = "*"
psycopg2 = "*"


[dev-packages]
django-debug-toolbar = "*"
ipdb = "*"


[requires]
python_version = "3.6"
