[uwsgi]
project_name    = oscarquiz

chdir           = /data/sites/%(project_name)

# Django's wsgi file
module          = %(project_name).wsgi

# the virtualenv (full path)
home            = /data/venvs/%(project_name)

# process-related settings
# master
master          = true

# maximum number of worker processes
processes       = 3

# the socket (use the full path to be safe)
socket          = /tmp/%(project_name).sock

# ... with appropriate permissions - may be needed
chmod-socket    = 664

# clear environment on exit
vacuum          = true

logto           = /tmp/%(project_name).log
pidfile         = /tmp/%(project_name).pid


# global settings
env=OSCARQUIZ_CONFIG=