{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% for quiz in quizzes %}
                    <h1>{{ quiz.name }}</h1>
                    {% if quiz.is_past_due %}
                        <div class="alert alert-danger" role="alert">Answers are not allowed anymore.</div>
                        <p>Click here to see the results: <a href="{% url 'results' quiz_id=quiz.id %}">{{ quiz.name }} results</a></p>
                    {% else %}
                        {% if request.user and request.user.is_superuser %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="alert alert-warning" role="alert">Only admin can see this</div>
                                    <p>List of players</p>
                                    <ul>
                                        {% for quiz_player in quiz.quiz_qp.all %}
                                            <li><a href="{{ quiz_player.get_absolute_url }}">{{ quiz_player.player.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert">Results are not available yet. Please wait the deadline : {{ quiz.expire_datetime|date:'Y-d-m, P' }}</div>
                        {% endif %}
                    {% endif %}
                {% empty %}
                    <div class="alert alert-warning">
                        No quiz at the moment
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}