{% extends 'base.html' %}
{% load quiz_tag %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ quiz.name }}</h1>

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}">Back to the home page</a>
                    </li>
                </ul>

                <form role="form" action="{{ request.path }}" method="POST">
                    {% csrf_token %}
                    {{ answer_formset.management_form }}

                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Category</th>
                                <th>Your answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in answer_formset %}
                                <tr>
                                    <td>
                                        {% category_name form.category.value %}
                                    </td>
                                    <td>
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <div class="form-group">
                                            <select id="{{ form.nominee.auto_id }}" name="{{ form.nominee.html_name }}" class="form-control">
                                                {% for value, name in form.fields.nominee.choices %}
                                                    <option value="{{ value }}" {% if form.instance.nominee.id == value %}selected{% endif %}>{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                            {{ form.nominee.errors }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="form-group">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Save quiz</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}