{% extends 'base.html' %}
{% load quiz_tag %}

{% block content %}
    <h1>{{ quiz.name }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nominees</th>

            {% for player in quiz.players.all %}
                <th>{{ player.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for category in quiz.categories.all %}
                <tr>
                    <td>{{ category.name }}</td>

                    {% for player in quiz.players.all %}
                        <td>{% display_answer player category %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Score</td>
                {% for player in quiz.players.all %}
                    <td>{{ player.score }}</td>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
{% endblock %}