{% extends 'base.html' %}
{% load quiz_tag %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ quiz.name }}</h1>

                <div class="well well-sm">
                    <a href="{% url 'index' %}">Back to the home page</a>
                </div>

                <form role="form" action="{% url 'quiz' player_id=player_id quiz_id=quiz_id %}" method="POST">
                    {% csrf_token %}
                    {{ answer_formset.management_form }}

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Your answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in answer_formset %}
                                <tr>
                                    <td>
                                        {% category_name form.category.value %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select id="{{ form.nominee.auto_id }}" name="{{ form.nominee.html_name }}" class="form-control">
                                                {% for value, name in form.fields.nominee.choices %}
                                                    <option value="{{ value }}" {% if form.nominee.initial.id == value %}selected{% endif %}>{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                            {{ form.nominee.errors }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Save quiz</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}